.ImgAndDescriptionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
  padding-top: 38px;
}

.imgUrl {
  width: 600px;
  height: auto;
}

.descriptioinContainer {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  color: #535353;
}

.description {
  font-weight: 300;
  font-size: 14px;
  line-height: 171%;
  color: #000;
  padding-bottom: 10px;
}

.ImgAndDescriptionContainer hr {
  color: #ededed;
  margin-top: 27px;
}

.mobileTabs {
  display: none;
}

.specificationTitle,
.specificationLabel,
.specificationValue {
  line-height: 200% !important;
  color: #535353 !important;
  font-weight: 300;
  font-size: 14px;
}

.specificationTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
}

.specificationLabel {
  line-height: 171%;
}

.specificationValue {
  line-height: 133%;
  font-weight: 500;
}

.specificationLabekAndValueCont {
  display: grid;
  grid-template-columns: 1fr 3fr;

  gap: 20px;
  padding: 5px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.specificationValueCont {
  text-align: start;
  min-width: 200px;
}

.specificationTitle {
  padding-top: 10px;
}

.tabsCont button {
  padding: 28px 35px !important;
}

.tabsItem[data-selected="true"] span {
  background-color: #485858 !important;
}

.tabsItem[data-selected="true"] div {
  color: white !important;
}

.downloadText {
  font-weight: 400;
  font-size: 24px;
  line-height: 167%;
  color: #535353;
}

.url {
  margin-top: 10px;
  display: flex;
  gap: 17px;
  align-items: center;
}

.url:hover .downloadText {
  font-weight: 500;
}

.videoContainerText {
  height: 300px;
  display: flex;
  justify-content: center;  
  align-items: center;
}

@media (max-width: 800px) {
  .ImgAndDescriptionContainer {
    grid-template-columns: 1fr;
    gap: 42px;
    padding-top: 38px;
  }
}

@media (max-width: 640px) {
  .ImgAndDescriptionContainer {
    grid-template-columns: 1fr;
    gap: 21px;
    padding-top: 18px;
  }

  .ImgAndDescriptionContainer hr {
    margin-top: 0;
  }

  .DesktopTabs {
    display: none;
  }

  .mobileTabs {
    display: block;
  }

  .mobileTabContainer {
    padding-top: 20px;
  }

  .label {
    font-weight: 600;
    font-size: 14px;
    line-height: 286%;
    color: #535353;
  }

  .content {
    font-weight: 300;
    font-size: 12px;
    line-height: 167%;
    color: #000;
    /* padding-top: 20px; */
  }

  .specificationLabekAndValueCont {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .label {
    font-weight: 600;
    font-size: 14px;
    line-height: 286%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  .specificationTitle {
    font-size: 15px;
    padding-top: 0;
  }
  .specificationLabel,
  .specificationValue {
    font-size: 12px;
  }

  .downloadText {
    font-size: 12px;
  }

  .downloadIcon {
    width: 20px !important;
    height: 20px !important;
  }

  .descriptioinContainer button{
    width: 100%;
  }

  .videoContainer {
    padding-top: 20px;
  }
}
