.servicesCont {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  
  .servicesImg {
    margin: 20px;
  }
  
  .servicesDescription {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
    align-items: center;
  }
  .elipse {
    width: 10px;
    height: 10px;
  }
  
  @media (max-width: 641px) {
      .elipse {
        display: none;
      }
  
      .servicesDescription {
          border-bottom: none;
        }
  
  }