.container {
  display: grid;
  grid-template-columns: auto auto;
}

.container * {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: white;
  align-items: start;
}

.nav {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  color: #535353;
  padding-top: 4px;
}

.nav[data-selected="true"] * {
  color: white !important;
  background-color: #485858 !important;
}

.nav[data-selected="true"] div {
  width: 300px;
}