.container {
  display: grid;
  grid-template-columns: 250px auto;
}

.container * {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: white;
  align-items: start;
  /* gap: 20px; */
}

.nav {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  color: #535353;
}

.linkCatalog {
  display: none;
}

.linkContainer {
  white-space: normal !important;
  max-width: 180px;

}

.linkContainer * {
  text-align: start;
}

.nav[data-selected="true"] .linkCatalog {
  display: flex !important;
  width: 100%;
}

.nav[data-selected="true"] .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #ff0800;
}

.gridContainer {
  gap: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridContainerItemTitle, .gridContainerItemDescription {
  padding: 10px;
  border-bottom: 1px solid rgb(192, 191, 191);
}

.gridContainerItemTitle {
  font-weight: 700;
}

.gridContainerItemDescription {
  font-weight: 400;

}
