.container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.title {
  font-weight: 800;
  font-size: 30px;
  line-height: 133%;
  color: #485858;
}

.dropIcon {
  width: 58px;
  height: 25px;
}
